* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    background-color: cadetblue;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
}

.user {
    display: flex;
}

.userProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 30px;
    color: white;
    /* border: 1px solid black; */
}

.name {
    background-color: cadetblue;
    color: white;
    margin-bottom: 20px;
    border-radius: 15px;
}

.image {
    width: 120px;
}

.post {
    margin-top: 20px;
    width: 50%;
    height: fit-content;
    text-align: center;
    padding: 50px;
    background: white;
    color: rgb(24, 135, 231);
    border: 6px solid grey;
}

.body {
    margin: 30px 0;
    /* padding: 20px; */
    color: black;
    /* border: 1px solid black; */
}

.post-title {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.post-link {
    text-decoration: none;
}

.comment-button {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid grey;
    background-color: white;
    cursor: pointer;
    font-weight: 700;
}

.comment-name {
    color: white;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
}

.super-heading {
    color: white;
}

.comment-button:hover {
    background-color: cadetblue;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    /* border: 1px solid white; */
}

.comment-heading {
    padding: 20px;
    color: cadetblue;
}

.comment {
    padding: 10px;
    border: 3px solid cadetblue;
    margin: 10px;
    border-radius: 10px;
}

.loading {
    color: white;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}

.error-page {
    text-align: center;
    padding: 10px;
}

.userData {
    padding: 30px;
    /* display: flex; */
}

span {
    font-weight: 700;
}

@media (max-width: 480px) {
    .post {
        width: 80%;
        font-size: 20px;
    }
    .comment {
        width: 100%;
        padding: 0;
    }
}

.user-link {
    display: flex;
    text-decoration: none;
}
